@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        
    <div style="margin-top:-36px;padding-left:236px;">
        
            <a href="#" id="enlace-contacto" class="btn-header">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </a>
            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
    


    </div>

        }
    }
    else
    {

        <a href="#" id="enlace-contacto" class="btn-header">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>

        <a href="#" id="enlace-contacto" class="btn-header">@Html.ActionLink("Intranet", "Logueo", "Admin", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
    }


