@model Barshop.Models.Proveedores

@{
    ViewBag.Title = "BuscarProveedor";
}
<link href="~/Content/formulario.css" type="text/css" rel="stylesheet" />
<link href="~/Content/tabla.css" type="text/css" rel="stylesheet" />

<div class="form-horizontal">
    @using (Html.BeginForm())
    {

        <h2>BuscarProveedor</h2>


        <div>Ingrese Ruc:</div>
        <div><input type="text" name="filtro"/></div>
    




        <div class="form-group">
            <input type="submit" value="Buscar" />
        </div>
        <div>@ViewBag.mensaje</div>


    }
</div>
@section Scripts {

@Scripts.Render("~/bundles/jqueryval")
}
